<div id="my_question_list">
  <div class="question_section_title"><%= t 'question.my_questions' %></div>

  <div class="miranda_graphic" style="float:left;width:200px">
    <%= image_tag asset_path("Miranda-01.png") %>
  </div>
  <div style="float:left; width:200px; margin-top:40px">
    <span class='question_text'><%= t 'question.no_user_questions' %></span>
  </div>
  <div style="clear:both"></div>
</div>