<ul id="my_question_list">
  <div class="question_section_title"><%= t 'question.my_questions' %></div>
  <% @myQuestions.each_with_index do |question, i| %>
      <hr class="questions">
      <li id="<%= question.id %>" class="place_answer <%= i %2==1 ? "" : "colored_place_row" %>">
        <%= render :partial => "question", :locals => {:question => question} %>
      </li>
  <% end %>

  <hr class="questions">
</ul>
