.email_body {
    background-color: #FAF9F7;
    font-size: 14px;
    font-family: 'Trebuchet MS', Helvetica, Arial, sans-serif;
}

.email_tr {
    padding: 0px;
}

.email_table {
    margin-left: 5px;
}

.email_right {
    margin: 5px;
    padding: 0px;
    float: right;
}

.table_style {
    background-color: #FAF9F7;
    font-size: 14px;
    font-family: 'Trebuchet MS', Helvetica, Arial, sans-serif;
}

.username {
    margin: 0px;
    padding: 0px;
    padding-top: 5px;
    margin-left: 5px;
    font-size: 24px;
}

.email_answer_comment {
    margin-bottom: 3px;
    margin-top: 1px;
    padding: 5px 5px 4px;
    min-height: 36px;
    width: 430px;
    font-style: italic;
}

.username_link {
    color: #E08574;
    font-size: 18px;
}

.highlight_link {
    color: #E08574;
    font-size: 22px;
}

.placename_link {
    color: #E08574;
    font-size: 14px;
}

#map {
    margin-top: 10px;
    border: 9px solid white;
    background: #faf9f7;
    box-shadow: 0 0 8px 0 #888;
    width: 290px;
}

.profile_pic_email {
    max-height: 40px;
    max-width: 40px;
}

.profile_pic_holder_email {
    margin: 0px;
    padding: 0px;
    float: left;
    width: 40px;
    height: 40px;
    background: none repeat scroll 0 0 #FAF9F7;
    border: 5px solid white;
    box-shadow: 0 0 6px 0 #888888;
}

.guide_description {
    margin: 5px;
    padding: 0px;
    font-family: Georgia, Times New Roman, serif;
    font-style: italic;
}

.email_italics {
    font-style: italic;
}

.username_email {
    margin: 0px;
    padding: 0px;
    padding-top: 25px;
    margin-left: 55px;
    margin-bottom: 10px
}

.question_content {
    margin: 5px;
    margin-left: 0px;
    padding: 0px;
    margin-top: 5px;
    font-family: Georgia, Times New Roman, serif;
}

.email_ask_image {
    vertical-align: middle;
    margin-top: -3px;
    margin-left: -3px;
}

.email_content {
    margin: 5px;
    margin-left: 0px;
    padding: 0px;
    font-family: 'Trebuchet MS', Helvetica, Arial, sans-serif;

}

.venue_pic_holder {
    margin: 0px;
    padding: 0px;
    float: left;
    background: none repeat scroll 0 0 #FAF9F7;
    border: 5px solid white;
    box-shadow: 0 0 6px 0 #888888;
}

.email_emphasize {
    margin: 5px;
    margin-left: 0px;
    margin-bottom: 0px;
    padding: 0px;
    font-size: 18px;
    font-weight: bold;
    color: #357A80
}

.change_city {
    padding-top: 25px;
}

/* Week in review */
.email_perspective_pic_holder {
    margin: 0px;
    margin-top: 10px;
    padding: 0px;
    background: none repeat scroll 0 0 #FAF9F7;
    border: 5px solid white;
    box-shadow: 0 0 6px 0 #888888;
    height: 100px;
    width: 100px;
}

.email_empty_perspective_pic_holder {
    height: 110px;
    width: 100px;
}

.email_profile_pic {
    float: left;
}

.email_username_and_description {
    margin-left: 80px;
    max-width: 350px;
}

.email_profile_pic_large {
    margin: 0px;
    padding: 0px;
    border: 5px solid white;
    box-shadow: 0 0 6px 0 #888888;
    height: 60px;
    width: 60px;
    vertical-align: bottom;
    margin-bottom: -5px;
}

.email_profile_pic_small {
    margin: 0px;
    padding: 0px;
    border: 3px solid white;
    box-shadow: 0 0 6px 0 #888888;
    height: 30px;
    width: 30px;
}

.email_guide_holder {
    margin-top: 10px;
}

.email_profile_name {
    font-size: 18px;
}

.email_venue_pic_holder {
    margin: 0px;
    padding: 0px;
    background: none repeat scroll 0 0 #FAF9F7;
    border: 5px solid white;
    box-shadow: 0 0 6px 0 #888888;
    height: 98px;
    width: 210px;
}

.email_link {
    color: #E08574;
}

.email_middle {
    vertical-align: middle;
}

.email_perspective_pic {
    height: 100px;
    width: 100px;
}

.email_description {
    font-family: Georgia, "Times New Roman", serif;
    font-style: italic;
}

.email_spacer {
    margin-top: 20px;
}

.email_mini_spacer {
    margin-top: 10px;
}

.email_place_name_holder {
    text-align: center;
}

.email_place_name {
    font-size: 18px;
    margin: 5px;
}

.email_place_guide_holder {
    margin: 5px;
    margin-top: 10px;
}

.email_place_guide_username {
    margin-left: 6px;
}

.email_place_action {
    text-align: center;
    margin-top: 10px;
}

.email_place_pic {
    max-height: 300px;
    max-width: 210px;
}

.email_embiggen {
    font-size: 18px;
}

.email_embiggen_more {
    font-size: 24px;
}

.email_place_and_testimonial {
    margin-left: 10px;
    margin-top: 12px;
}

.email_memo {
    font-family: Georgia, 'Times New Roman', serif;
    font-style: italic;
}

.email_question_spacer {
    margin-bottom: 15px;
}