<% content_for :navbar_menu do %>
    <ul class="nav pull-right" role="menu">
      <li><a href="map">Map</a></li>
      <li><a href="list">Listings</a></li>
    </ul>
<% end %>

<div id="map_canvas" style="height:300px;width:100%;margin-top:-20px;"></div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#map_canvas').gmap({
            'center':'<%= @display_lat %>,<%= @display_lng %>',
            'zoom':15
        });

        function htmlForPerspective(perspective) {
            var infoWindowHTML = '<div class="info_window"><div class="infowindow_liner">';
            infoWindowHTML += '<div class="info_name"><a href="/place/' + perspective.place.slug + '">' + perspective.place.name + '</a></div>';
            infoWindowHTML += '<div class="info_address">' + perspective.place.street_address + '</div>';
            if (perspective.tags.length > 0) {
                infoWindowHTML += '<div class="info_tags">';
                infoWindowHTML += perspective.tags.join(", ");
                infoWindowHTML += '</div>';
            }
            return infoWindowHTML += '</div>';
        }

        var placemark = new google.maps.MarkerImage(
                'https://www.placeling.com/images/placemarker.png',
                new google.maps.Size(30, 32),
                new google.maps.Point(0, 0),
                new google.maps.Point(9, 32)
        );

        $('#map_canvas').gmap().bind('init', function (evt, map) {
            $.getJSON('/category/<%= params[:category] %>/mapdata', function (data) {
                $.each(data.perspectives, function (i, m) {
                    $('#map_canvas').gmap('addMarker', { 'position':new google.maps.LatLng(m.ploc[0], m.ploc[1]), 'icon':placemark }).click(function () {
                        $('#map_canvas').gmap('openInfoWindow', {'content':htmlForPerspective(m)}, this);
                    });
                });
            });
        });
    });

</script>