<div class="btn-group">
  <button class="btn">Listings</button>
  <button class="btn">Map</button>
</div>


<div class="item rounded dark">
  <div id="map_canvas" class="map rounded"></div>
</div>





<script type="text/javascript">

    $('#map_canvas').gmap().bind('init', function (ev, map) {
        $('#map_canvas').gmap('addMarker', {'position':'57.7973333,12.0502107', 'bounds':true}).click(function () {
            $('#map_canvas').gmap('openInfoWindow', {'content':'Hello World!'}, this);
        });
    });
</script>