<div class="row-fluid">
  <a href="/whitelabel/category/eating" class="span6 category eating">
    <img src="/whitelabel/images/eating.png">
  </a>

  <a href="/whitelabel/category/drinking" class="span6 category drinking">
    <img src="/whitelabel/images/drinking.png">
  </a>
</div>

<br/>

<div class="row-fluid">
  <a href="/whitelabel/category/eating" class="span6 category sponsor">
    <img src="/whitelabel/images/sponsor.png">
  </a>

  <a href="/whitelabel/category/coffee" class="span6 category coffee">
    <img src="/whitelabel/images/coffee.png">
  </a>
</div>

<br/>

<div class="row-fluid">
  <a href="/whitelabel/category/pizza" class="span6 category pizza">
    <img src="/whitelabel/images/pizza.png">
  </a>

  <a href="/whitelabel/category/poutine" class="span6 category poutine">
    <img src="/whitelabel/images/poutine.png">
  </a>
</div>
<br/>