<div class="row-fluid">

  <a href="/whitelabel/category/featured" class="span12 category">
    Featured Category
  </a>
</div>

<div class="row-fluid">
  <a href="/whitelabel/category/sponsored" class="span6 category">
    Sponsor's Picks
  </a>

  <a href="/whitelabel/category/nightlife" class="span6 category">
    Nightlife
  </a>
</div>

<div class="row-fluid">
  <div class="span6 category">
    The Morning After
  </div>

  <div class="span6 category">
    Category 3
  </div>
</div>

<div class="row-fluid">
  <div class="span6 category">
    Category 4
  </div>

  <div class="span6 category">
    Category 5
  </div>
</div>