<div class="row-fluid">
  <div class='span3 hidden-phone'></div>
  <div class='span6' style="display: block;">
    <a href="/whitelabel/category/eating" class="category eating">
      <img src="/whitelabel/images/eating.png">
    </a>

    <a href="/whitelabel/category/drinking" class="category drinking" style="margin-left:2px;">
      <img src="/whitelabel/images/drinking.png">
    </a>
  </div>
  <div class='span3 hidden-phone'></div>
</div>

<br/>

<div class="row-fluid">
  <div class='span3 hidden-phone'></div>
  <div class='span6' style="display: block;">
    <a href="/whitelabel/category/sponsor" class="category sponsor">
      <img src="/whitelabel/images/sponsor.png">
    </a>

    <a href="/whitelabel/category/coffee" class="category coffee" style="margin-left:2px;">
      <img src="/whitelabel/images/coffee.png">
    </a>
  </div>
  <div class='span3 hidden-phone'></div>
</div>

<br/>

<div class="row-fluid">
  <div class='span3 hidden-phone'></div>
  <div class='span6' style="display: block;">
    <a href="/whitelabel/category/pizza" class="category pizza">
      <img src="/whitelabel/images/pizza.png">
    </a>

    <a href="/whitelabel/category/poutine" class="category poutine" style="margin-left:2px;">
      <img src="/whitelabel/images/poutine.png">
    </a>
  </div>
  <div class='span3 hidden-phone'></div>
</div>

<br/>
