<!DOCTYPE html>
<html>
<head>
  <title>GridTO</title>
  <script src="/whitelabel/jquery-1.7.2.min.js" type="text/javascript"></script>
  <script src="/whitelabel/bootstrap/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/whitelabel/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/whitelabel/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body style="padding-top: 50px;">

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">

      <a class="brand" href="#">
        GridTO
      </a>

    </div>
  </div>
</div>

<%= yield %>

</body>
</html>