<div id="content_holder">
  <div id="people">
    <div class="ian">
      <%= image_tag @ian.thumb_url, :alt=>"Profile Pic", :class =>"styled_pic" %>
    </div>
    <div class="lindsay">
      <%= image_tag @lindsay.thumb_url, :alt=>"Profile Pic", :class =>"styled_pic" %>
    </div>
  </div>
  <div id="story">
    <div class="title">About Us</div>
    <div class="story_text">
      <p>Placeling is built by <%= link_to("Ian", user_path(@ian))%> and <%= link_to("Lindsay", user_path(@lindsay))%>. We're two guys who love cities and live in a beautiful one called Vancouver.</p>
      <p>Why'd we build Placeling?</p>
      <p>Well, Ian would look at old buildings and think it ridiculous that you had to read a brass plaque on them to know their history.</p>
      <p>Lindsay liked to visit friends who lived in different parts of the city. Each would tell him why their neighbourhood was the best and he wanted to be able to record it.</p>
      <p>Ian wanted to be able to go any place in the world and instantly know about it: what his friends had to say about it, what people he respected thought and how locals saw the place.</p>
      <p>Lindsay was always reading about interesting places (in particular, he was getting tired of clipping the NY Times' <a href="http://topics.nytimes.com/topics/features/travel/columns/36_hours/index.html">36 Hours</a> series) and wanted a better way to bookmark places he wanted to go.</p>
      <p>So you get the picture: we like cities, we like exploring and Placeling's our attempt to make the world more interesting and fun.</p>
      <p>Let us know how you're using Placeling and how we can make it more useful for you.</p>
      <div class="title">Contact Us</div>
      <p>We're easy to get in touch with.</p>
      <p>Email us: <a href="mailto:contact@placeling.com?Subject=Hello%20Placeling">contact@placeling.com</a>. We do our best to answer all email within a business day.</p>
      <p>Call us: (347) 229-1574. If we don't answer, we'll get back to you ASAP.</p>
      <p>Plus you can find us on Facebook:</p>
      <p><div class="fb-like" data-href="http://facebook.com/placeling" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div></p>
      <p>And Twitter:</p>
      <p><a href="http://twitter.com/placeling" class="twitter-follow-button" data-show-count="false">Follow @placeling</a></p>
    </div>
  </div>
</div>