<div id="content_holder">
  <div id="people">

  </div>
  <div id="story">
    <div class="title">Bloggers</div>
    <div class="story_text">
      <p>This page is for support of bloggers and the wordpress plugin</p>
    </div>
  </div>
</div>