<% content_for :head do %>
  <title>Placeling for Bloggers: Wordpress Plugin</title>
  <meta name="description" content="The details behind the Placeling Wordpress plugin for bloggers. Turn your blog into an interactive, map-based, iPhone-enabled guide" />
  <meta property="og:title" content="Placeling for Bloggers: Wordpress Plugin" />
<% end %>


<div id="content_holder">
  <div class="story_text"><a href="#faq">Skip to FAQ</a></div>
  <div class="title">Turn Your Blog Into an iPhone-Enabled City Guide</div>
  <div class="story_text">
    <p>Do you write about places?</p>
    <p>Food? Fashion? Family-friendly? Travel? Heck, anything.</p>
    <p>At least once you're probably wished that you could just give your blog to someone as a map and let them see nearby places you've written about.</p>
    <p>Now you can, with <a href="http://wordpress.org/extend/plugins/placeling/">Placeling's Wordpress plugin</a>.</p>
    <p>Your blog posts appear in Placeling's iPhone app and can be embedded in a map on your blog.</p>
    <p>
      <img src="/images/admin/bloggers/blog_tool_overview.png" alt="Blog tool overview" class="blog_image">
    </p>
    <p class="heading"><a name="faq">FAQ</a></p>
    <p><a href="#requirements">What do I need to use the plugin?</a></p>
    <p><a href="#install">How do I install the plugin?</a></p>
    <p><a href="#tag">How I do I tag my post with a location?</a></p>
    <p><a href="#new">How do I add a place that's not in Placeling's database?</a></p>
    <p><a href="#summary">Why do I need a summary?</a></p>
    <p><a href="#footer">What is the footer for?</a></p>
    <p><a href="#embed">How do I embed my map in my blog?</a></p>
    <p><a href="#more">How do I get more help?</a></p>
    <p class="heading"><a name="requirements">What do I need to use the plugin?</a></p>
    <p>You'll need:
      <ul class="specific">
        <li>A <a href="http://wordpress.com/">Wordpress</a>-based blog that you can install plugins on</li>
        <li>A <%= link_to "Placeling account", new_user_registration_path %></li>
      </ul>
    </p>
    <p class="heading"><a name="install">How do I install the plugin?</a></p>
    <p>
      <ul class="specific">
        <li>Log into your blog</li>
        <li>Go to the "Plugins" tab</li>
        <li>Select the "Add New" option</li>
        <li>Search for the term "Placeling"</li>
        <li>Click the link to install and then activate the Placeling plugin</li>
      </ul>
    </p> 
    <p class="heading"><a name="tag">How I do I tag my post with a location?</a></p>
    <p>After you install the Placeling plugin, you'll notice two new things when you go to write a post:</p>
    <p>
      <ul class="specific">
        <li>A little place marker next to the upload photo button</li>
        <li>A new box called "Placeling" below the main editor</li>
      </ul>
    </p>
    <p>
      <img src="/images/admin/bloggers/untagged.png" alt="Untagged post" class="blog_image">
    </p>
    <p>Click either.</p>
    <p>A pop-up window will appear.</p>
    <p>The first time you do this, you'll be asked to log in to Placeling (remember - you must have an account). If you've any issues doing this, <a href="mailto:support@placeling.com">drop us a line</a>.</p>
    <p>When you're logged in, the pop-up will contain a search box plus any recent locations you've placemarked via Placeling.</p>
    <p>
      <img src="/images/admin/bloggers/recent_places.png" alt="Recent places" class="blog_image">
    </p>
    <p>If your blog post is about a recent location, simply click the one you want. Otherwise, type the name of the location your blog post is about. As you type, you'll see the list of locations update.</p>
    <p>Tips:
      <ul class="specific">
        <li>If you're typing a name like "Starbucks" with multiple locations, include a city or street name e.g., "Starbucks Robson"</li>
        <li>If you don't see any locations that match your term, make sure your spelling is correct</li>
      </ul>
    </p>
    <p>If you don't still don't see the place you're looking for just hit the "enter" or "return" key while typing and you'll be able to add a new place. <a href="#new">More below</a>.</p>
    <p>Once you see your location, click it and you'll see a footer appear, with a map. If this is the right place, click "Save".</p>
    <p>Note: if you're using IE8, you might see a blue border around some of the images: these won't appear when you publish your post.</p>
    <p>
      <img src="/images/admin/bloggers/footer_preview.png" alt="Footer preview" class="blog_image">
    </p>
    <p>The name of the location you tagged will appear above the main editor. The Placeling plugin box contains a map of the location plus its name and address.</p>
    <p>Write your blog post and add a summary, then publish it. If you try to publish without adding a summary, an error will appear.</p>
    <p>
      <img src="/images/admin/bloggers/add_summary.png" alt="Add summary" class="blog_image">
    </p>
    <p>When you publish the following will happen:</p>
    <p>
      <ul class="specific">
        <li>The location you selected will be added to your Placeling map, if it's not already there</li>
        <li>The summary, a link to this blog post and any photos in the post (if you selected the option) will be used to describe this location on your Placeling map</li>
      </ul>
    </p>
    <p>You can now see your post on a map via the <a href="/app">Placeling iPhone app</a> or <a href="#embed">a map embedded on your site</a>.</p>
    <p class="heading"><a name="new">How do I add a place that's not in Placeling's database?</a></p>
    <p>If you type in the name of a location and it doesn't appear, just hit the "enter" or "return" key and you'll see an option to add it:</p>
    <p>
      <img src="/images/admin/bloggers/search_post_enter.png" alt="Add New Place Link" class="blog_image">
    </p>
    <p>When you click the link, a new tab will open up and send you to Placeling.com (you may need to log in). You'll be asked to fill out the details of the place. You can type an address and the map will update for you (or vice versa):</p>
    <p>
      <img src="/images/admin/bloggers/create_new_place_with_details.png" alt="Create New Place" class="blog_image">
    </p>
    <p>You'll then need to confirm the details of the location...</p>
    <p>
      <img src="/images/admin/bloggers/create_new_place_confirm.png" alt="Confirm New Place Details" class="blog_image">
    </p>
    <p>...and it's added to your map:</p>
    <p>
      <img src="/images/admin/bloggers/placemarked_new_place.png" alt="New Place On Your Map" class="blog_image">
    </p>
    <p>At this point you can close Placeling and go back to your blog. From the admin page, close the Placeling window and re-open it. You should see your newly added place there, at the top of this list:</p>
    <p>
      <img src="/images/admin/bloggers/newly_added_place.png" alt="New Place On Your Map" class="blog_image">
    </p>
    <p class="heading"><a name="summary">Why do I need a summary?</a></p>
    <p>In order to link your blog post to Placeling, we require you to write a brief summary. This is so that when someone looks at a location you've added on Placeling, they can see why you think it's interesting.</p>
    <p>A good summary is a sentence or two that outlines what you liked about a location and encourages the user to click through to your blog for more.</p>
    <p class="heading"><a name="footer">What is the footer for?</a></p>
    <p>The Placeling plugin puts a little footer at the bottom of each blog post where you tag a location.</p>
    <p>The footer contains a link to your map on Placeling, so that your readers can explore all the locations you've placemarked. It also contains a link where readers can get more info about each location.</p>
    <p>
      <img src="/images/admin/bloggers/footer.png" alt="Untagged post" class="blog_image">      
    </p>
    <p>If you ever uninstall the Placeling plugin, the footer will be removed from all posts.</p>
    <p><a name="embed">How do I embed my map in my blog?</a></p>
    <p>
      <ul class="specific">
        <li>Go to Placeling.com and log in</li>
        <li>Click the "Account" link in the upper right corner of the screen</li>
        <li>Click on the link "Embed a copy of your map on your website or blog"</li>
      </ul>
      <p>This brings you to a page where you can configure how you want your embedded map to look:</p>
      <p>
        <img src="/images/admin/bloggers/embed_screen.png" alt="Create embed code" class="blog_image">      
      </p>
      <p>First, set the dimension of the map you want on your page. Note that the map on this screen will not change sizes based on this.</p>
      <p>Pan and zoom the map to the location you want your map to be centered on.</p>
      <p>Copy and paste the code from the right into the page where you want your map to appear.</p>
    </p>
    <p><a name="more">Unanswered questions? Need more help?</a></p>
    <p class="last"><a href="mailto:support@placeling.com">Drop us a line</a>. We try to answer every question within one business day.</p>
  </div>
</div>