<% content_for :head do %>
    <title>Placeling for Bloggers: Wordpress Plugin</title>
    <meta name="description" content="The details behind the Placeling Wordpress plugin for bloggers. Turn your blog into an interactive, map-based, iPhone-enabled guide"/>
    <meta property="og:title" content="Placeling for Bloggers: Wordpress Plugin"/>
<% end %>


<div id="content_holder">
  <div class="blog_content big_script">Coming Soon</div>
  <div class="blog_content">
    <p>We're working on this. Email us to be notified of our premium features launch.</p>
  </div>
</div>