<h1>Firehose</h1>

<div class="activities">
  <% @activities.each do |activity| %>
      <% begin %>
          <%= render :partial => "home/activity", :locals => {:activity => activity} %>
      <% rescue

         end %>
  <% end %>
</div>

