<% content_for :css do %>
  <style type="text/css">
      .tags {
        color: #999;
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
        display: block;
      }

      .tag {
        display: inline-block;
        font-size: 11px;
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
      }

  </style>
<% end %>


<div id="content_holder">
  <div id="people">
    <div class="ian">
      <%= image_tag 'photo/lindsay_growlab.jpg', :alt=>"Growlab", :class =>"styled_pic" %>
    </div>
  </div>
  <div id="story">
    <div class="title">Investors</div>
    <div class="story_text">
      <p>Placeling is an early stage mobile and web startup based in Vancouver, BC. We were part of the first <a href="http://www.growlab.ca">Growlab</a> cohort.  You can check out our CEO's Dec. 2011 pitch to investors at demo day:</p> <br/>
      <iframe width="560" height="315" src="http://www.youtube.com/embed/Rivzz4Rc20U" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>

   <div id="angellist">
    <div class="title">AngelList</div>
    <div class="story_text">
      <div>
        <div class="section" id="startup_header">
            <div style="float:left; width:100%;display:block;">
                <div style="display:block;">
                    <div style="float: left;margin: 0 20px 10px 0;width: 100px;height: 100px;border: 1px solid #F2F3F4;">
                        <div style="position: relative;display: inline-block;margin: 0 20px 0px 0;vertical-align: top;padding: 5px;width: 90px;line-height: 90px;">
                            <img style="max-width: 90px;max-height: 90px;vertical-align: middle;" alt="" src="/images/angellist_placeling_logo.png">
                        </div>
                    </div>
                    <div style="padding-top: 5px;display: inline-block;position: relative;min-height: 102px;max-width: 500px;">
                        <div style="font-weight: bold;font-size: 26px;line-height: 26px;margin-bottom: 5px;width:600px;">
                            <a href="http://www.angel.co/placeling">Placeling</a>
                        </div>
                        <div style="font-weight: bold;color: #666;margin-bottom: 2px;">Delicious meets StumbleUpon for Places</div>
                        <div class="tags"><div class="tag"><a href="http://angel.co/vancouver">Vancouver</a></div>
                    ·
                        <div class="tag"><a href="http://angel.co/mobile-4">Mobile</a></div> · <div class="tag"><a href="http://angel.co/women">Women</a></div> · <div class="tag"><a href="http://angel.co/local-based-services">Local Based Services</a></div></div>

                    </div>
                </div>
            </div>
         </div>

         </div>

       </div>
    </div>
  </div>
</div>