<% content_for :css do %>
  <style type="text/css">
      .tags {
        color: #999;
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
        display: block;
      }

      .tag {
        display: inline-block;
        font-size: 11px;
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
      }

      .detail{
          padding-left: 0px;
      }

  </style>
<% end %>


<div id="content_holder">
  <div id="people">
    <div class="ian">
      <%= image_tag 'placeling_logo.png', :alt=>"Growlab", :class =>"styled_pic" %>
    </div>
  </div>
  <div id="story">
    <div class="title">Investors</div>
    <div class="story_text">
      <p>Placeling is an early stage mobile and web startup based in Vancouver, BC. We were part of the first <a href="http://www.growlab.ca">Growlab</a> cohort.  Here's our Dec. 2011 pitch to investors at demo day:</p>
      <p>
      <iframe width="560" height="315" src="http://www.youtube.com/embed/Rivzz4Rc20U" frameborder="0" allowfullscreen></iframe>
      </p>
      <p>We're a two man show. <a href="http://ca.linkedin.com/pub/ian-mackinnon/6/6a5/898">Ian</a>'s a University of Waterloo math grad who loves search. <a href="http://ca.linkedin.com/in/lindsayrgwatt">Lindsay</a> used to run search at WebMD and loves exploring cities. Together we're making cities more fun to live in.  You can
        <script type="text/javascript" language="javascript">
        <!--
        // Email obfuscator script 2.1 by Tim Williams, University of Arizona
        // Random encryption key feature by Andrew Moulden, Site Engineering Ltd
        // This code is freeware provided these four comment lines remain intact
        // A wizard to generate this code is at http://www.jottings.com/obfuscator/
        { coded = "DlTCAi3I@PNBOiNjC4.Ols"
          key = "udQyPnbe3GgZNzsLvFcxDXTAhwVCkioE4a02I917OSY6p5UWrJqjlMmBRKHtf8"
          shift=coded.length
          link=""
          for (i=0; i<coded.length; i++) {
            if (key.indexOf(coded.charAt(i))==-1) {
              ltr = coded.charAt(i)
              link += (ltr)
            }
            else {
              ltr = (key.indexOf(coded.charAt(i))-shift+key.length) % key.length
              link += (key.charAt(ltr))
            }
          }
        document.write("<a href='mailto:"+link+"'>email us at any time</a>")
        }
        //-->
        </script><noscript>Sorry, you need Javascript on to email me.</noscript>.</p>
    </div>
    <div class='angellist_embed' startup_id='29211'></div><script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'></script><script type='text/javascript' src='http://angel.co/placeling/embed/angellist.js'></script>
  </div>
</div>