<% content_for :head do %>
  <title>Placeling :: Get The Local's Perspective</title>
  <meta name="description" content="When you sign up to Placeling you automatically get insiders guides for cities around the world." />
  <meta property="og:title" content="Placeling :: Get The Local's Perspectives" />
  <meta property="og:description" content="When you sign up to Placeling you automatically get insiders guides for cities around the world.">
<% end %>

<div id="main_well">
  <div id="copy">
    <p class="mini_headline_copy">The Locals' Perspective</p>
    <p>We regularly poll local experts in different cities for the best their city has to offer (you can too - just use our <%= link_to("question tool", questions_path, :class=>"copy_link") %>).</p>
    <p>We take their answers, research the places they suggest and turn them into beautiful infographics like the one at left.</p>
    <p>Explore a few for <a href="https://www.placeling.com/pages/sf" class="copy_link">San Francisco</a>, <a href="https://www.placeling.com/pages/seattle" class="copy_link">Seattle</a>, <a href="https://www.placeling.com/pages/vancouver" class="copy_link">Vancouver</a> and <a href="https://www.placeling.com/pages/sf" class="copy_link">Toronto</a>.</p>
    <p class="mini_headline_copy">Automatically On Your iPhone</p>
    <p>When you sign up for Placeling, you get these city guides - and all future ones - automatically.</p>
    <p>We publish these guides as the user <a href="https://www.placeling.com/citysnapshots">CitySnapshots</a> - who you follow when you sign up.</p>
    <p class="copy_action_holder"><%= link_to "Get The Locals' Guide", new_user_path(), :class => "submit", :id => "submit_button" %></p>
  </div>
  <div id="sample" class="home_infographic">
    <%= image_tag(asset_path("home/infographic.jpg"))%>
  </div>
</div>