<div class="content_holder">

    <div id="story">
    <div class="title"><%= t "home.privacy_policy" %></div>
    <div class="story_text">
    <p>We collect information on what pages consumers use on our site and mobile application and information created by consumers when they create or modify their accounts (e.g, add or remove locations). This information is used to improve the quality of our service.</p>
<p>In the future, the information provided by consumers may be used to deliver advertisements, but at no time will any information that would personally identify anyone (e.g., your name or username) be shared with any third party service.</p>
<p>There are only two circumstances where we would share our users&#39; personal information:</p>
<ul>
<li>If required by law or in order to investigate, prevent or take action regarding illegal activities, suspected fraud, situations involved potential threats to the physical safety of any person or violations of <a href="/terms_of_service" target="_blank">Terms of Service</a>.</li>
<li>If Placeling is acquired or merges with another company, we will transfer your information to the new company. If this happens, you will be notified about the new company&#39;s privacy policy before your information is transferred.</li>

</ul>

<div class="title">COOKIES</div>
<p>A cookie is a small amount of data, which often includes an anonymous unique identifier, that is sent to your browser from a web site&#39;s computers and stored on your computer&#39;s hard drive.</p>
<p>Cookies are required to use Placeling.</p>
<p>We use cookies to record current session information. If you select the &quot;keep me logged in&quot; option, a permanent cookie will be dropped on your computer and you will remain logged in until you physically log out. You should never do this on a shared computer as that could enable someone else to access your account.</p>

<div class="title">DATA STORAGE</div>

<p>Placeling uses third party vendors and hosting partners to provide the necessary hardware, software, networking, storage, and related technology required to provide our service. For instance, the maps behind Placeling are provided by Google.</p>
<p>Placeling owns the code, databases and rights to the Placeling application. You retain the rights to your data, subject to the following conditions:</p>
<ul>
<li>Placeling is allowed to maintain a copy of any data you enter into the service for up until 18 months after you cancel your account. At that point, the data must be stripped of any information (e.g., username, email address) that would identify you.</li>
<li>When you cancel your service, Placeling may use any data you entered to improve our service, but any information you entered cannot be displayed to other users.</li>
</ul>
<p>When Placeling sends data to third party services (e.g., to Google to show your locations on a map), the third party services may retain a copy of any data sent. We do not send these third party services any information (e.g., username, email address) that would personally identify you.</p>

<div class="title">DISCLOSURE</div>
<p>Placeling may disclose personally identifiable information under special circumstances, such as to comply with subpoenas or when your actions violate the <a href="/terms_of_service" target="_blank">Terms of Service</a>.



<div class="title">CHANGES</div>
<p>Placeling may periodically update this policy. We will notify you about significant changes to our privacy policy by sending you a message at the email address you used when registering.</p>

<div class="title">QUESTIONS AND COMMENTS</div>
<p>If you&#39;ve any questions or comments about this Privacy Policy, please send us an email at contact@placeling. We&#39;d love to hear from you.</p>
<p>You can also write us at:</p>
<p>Placeling (Internet Services) Inc.</p>
<p>1515 West 2nd Avenue, Suite 452</p>
<p>Vancouver, BC</p>

<p>Canada</p>
<p>V6J 5C5</p>
</p>
        </div>
        </div>
    </div>