<div class="grid_24">

    <div class="box_top">

        <h2 class="icon list"><%= t "home.privacy_policy" %></h2>

        <h3 class="right"><a href="#contents"><%= t('basic.top') %></a></h3>
    </div>

    <div class="box_content padding">
        <p><%= @privacy %></p>
    </div>
</div>

