
<html>
<head>
  <title>Placeling Rails App Status Page</title>
</head>

<body>
    <table border=1>

      <tr>
        <td>Environment</td>
        <td><%= Rails.env %> </td>
      </tr>
      <tr>
        <td>Unique key to check for</td>
        <td>E8455D251B002C7A0E0ADE385C8940E29CE7C139233B31A9889009B37814CA49</td>
      </tr>
    </table>

</body>

</html>

