<div class="content_holder">

    <div id="story">
    <div class="title"><%= t "home.terms_of_service" %></div>
    <div class="story_text">
    <p>By using the <a href="http://placeling.com" target="_blank">placeling.com</a> web site and affiliated applications for the iPhone (&quot;Service&quot;), a service of Placeling (Internet Services) Inc. (&quot;Placeling&quot;), you are agreeing to be bound by the following terms and conditions (&quot;Terms of Service&quot;).</p>

<p>Placeling reserves the right to update and change the Terms of Service from time to time without notice. Any new features that augment or enhance the current Service, including the release of new tools and resources, shall be subject to the Terms of Service. Continued use of the Service after any such changes shall constitute your consent to such changes. You can review the most current version of the Terms of Service at any time at: <a href="/terms_of_service" target="_blank">Terms of Service</a></p>


<p>Violation of any of the terms below will result in the termination of your Account. While Placeling prohibits such conduct and Content on the Service, you understand and agree that Placeling cannot be responsible for the Content posted on the Service and you nonetheless may be exposed to such materials. You agree to use the Service at your own risk.</p>

<div class="title">Account Terms</div>

<ol>
	<li>You must be 13 years or older to use this Service.</li>
	<li>You must be a human. Accounts registered by &quot;bots&quot; or other automated methods are not permitted.</li>
  <li>You must provide a valid email address, and any other information requested in order to complete the signup process.</li>
  <li>You are responsible for maintaining the security of your account and password. Placeling cannot and will not be liable for any loss or damage from your failure to comply with this security obligation.</li>
  <li>You are responsible for all Content posted and activity that occurs under your account.</li>
  <li>You may not use the Service for any illegal or unauthorized purpose. You must not, in the use of the Service, violate any laws in your jurisdiction (including but not limited to copyright laws).</li>

</ol>

      <div class="title">Cancellation and Termination</div>

<ol>
	<li><strong>You are solely responsible for properly cancelling your account. An email request to cancel your account is not considered cancellation.</strong></li>
  <li>All of your Content will be immediately deleted from the Service upon cancellation. This information can not be recovered once your account is cancelled.</li>
  <li>Placeling, in its sole discretion, has the right to suspend or terminate your account and refuse any and all current or future use of the Service, or any other Placeling service, for any reason at any time. Such termination of the Service will result in the deactivation or deletion of your Account or your access to your Account, and the forfeiture and relinquishment of all Content in your Account. Placeling reserves the right to refuse service to anyone for any reason at any time.</li>
</ol>

 <div class="title">Modifications to the Service</div>

<ol>
	<li>Placeling reserves the right at any time and from time to time to modify or discontinue, temporarily or permanently, the Service (or any part thereof) with or without notice.</li>
	<li>Placeling shall not be liable to you or to any third party for any modification, suspension or discontinuance of the Service.</li>

</ol>

 <div class="title">Copyright and Content Ownership</div>

<ol>
	<li>All content posted on the Service is must comply with Canadian copyright law.</li>
	<li>We claim no intellectual property rights over the material you provide to the Service. Your profile and locations remain yours. However, by setting your locations and pages to be shared publicly, you agree to allow others to view and share your Content.</li>
	<li>Placeling does not pre-screen Content, but Placeling and its designee have the right (but not the obligation) in their sole discretion to refuse or remove any Content that is available via the Service.</li>
</ol>

 <div class="title">General Conditions</div>
<ol>
	<li>Your use of the Service is at your sole risk. The service is provided on an &quot;as is&quot; and &quot;as available&quot; basis.</li>
  <li>Technical support is only available via email.</li>
	<li>You understand that Placeling uses third party vendors and hosting partners to provide the necessary hardware, software, networking, storage, and related technology required to run the Service.</li>
	<li>You must not modify, adapt or hack the Service or modify another website so as to falsely imply that it is associated with the Service, Placeling, or any other Placeling service.</li>
	<li>You agree not to reproduce, duplicate, copy, sell, resell or exploit any portion of the Service, use of the Service, or access to the Service without the express written permission by Placeling.</li>
	<li>We may, but have no obligation to, remove Content and Accounts containing Content that we determine in our sole discretion are unlawful, offensive, threatening, libellous, defamatory, pornographic, obscene or otherwise objectionable or violates any party&#39;s intellectual property or these Terms of Service.</li>
  <li>Verbal, physical, written or other abuse (including threats of abuse or retribution) of any Placeling customer, employee, member, or officer will result in immediate account termination.</li>
	<li>You understand that the technical processing and transmission of the Service, including your Content, may be transferred unencrypted and involve (a) transmissions over various networks; and (b) changes to conform and adapt to technical requirements of connecting networks or devices.</li>
	<li>You must not upload, post, host, or transmit unsolicited email, SMSs, or &quot;spam&quot; messages.</li>
	<li>You must not transmit any worms or viruses or any code of a destructive nature.</li>
	<li>Placeling does not warrant that (i) the service will meet your specific requirements, (ii) the service will be uninterrupted, timely, secure, or error-free, (iii) the results that may be obtained from the use of the service will be accurate or reliable, (iv) the quality of any products, services, information, or other material purchased or obtained by you through the service will meet your expectations, and (v) any errors in the Service will be corrected.</li>
	<li>You expressly understand and agree that Placeling shall not be liable for any direct, indirect, incidental, special, consequential or exemplary damages, including but not limited to, damages for loss of profits, goodwill, use, data or other intangible losses (even if Placeling has been advised of the possibility of such damages), resulting from: (i) the use or the inability to use the service; (ii) the cost of procurement of substitute goods and services resulting from any goods, data, information or services purchased or obtained or messages received or transactions entered into through or from the service; (iii) unauthorized access to or alteration of your transmissions or data; (iv) statements or conduct of any third party on the service; (v) or any other matter relating to the service.</li>
	<li>The failure of Placeling to exercise or enforce any right or provision of the Terms of Service shall not constitute a waiver of such right or provision. The Terms of Service constitutes the entire agreement between you and Placeling and govern your use of the Service, superseding any prior agreements between you and Placeling (including, but not limited to, any prior versions of the Terms of Service).</li>
  <li>Questions about the Terms of Service should be sent to us via email at <a href="mailto:contact@placeling.com" target="_blank">contact@placeling.com</a>.</li>

</ol>
</div>
        </div>
    </div>