* {
    margin: 0px;
    padding: 0px;
}

* ul li {
    display:block;
    margin-left: 4px;
    margin-top: 10px;
}

#positioner {
    position: relative;
    left: 50%;
    width: 760px;
    margin-left: -380px;
}

#top_bracket {
    border-top: 1px solid #6CBDBE;
    background-image: url(/images/grey_to_white.png);
    background-position: center top;
    background-repeat: repeat-x;
    margin: 0;
    position: relative;
    width: 100%;
    height: 46px;
}

#bottom_bracket {
    border-bottom: 1px solid #6CBDBE;
    background-image: url(white_to_grey.png);
    background-position: center top;
    background-repeat: repeat-x;
    margin: 0;
    position: relative;
    width: 100%;
    height: 46px;
}

#call_to_action {
    margin-top:20px;
    margin-bottom: 20px;
    position: relative;
    left: 50%;
    width: 760px;
    margin-left: -380px;
}

.emphasize {
    font-family:"Georgia", "Times New Roman", Times, serif;
    font-style:normal;
    font-size: 2em;
    color:#333333;
    margin-bottom: 10px;
    margin-left: 4px;
}

.clear {
    font-family:Helvetica, Arial, sans-serif;
    font-style:normal;
    font-size: 1em;
    color:#999999;
    margin-bottom: 10px;
    margin-left: 4px;
}

#button {
    margin-top: 0.3em;
    margin-left: 500px;
}

#fields {
    width: 500px;
    float:left;
}

.email_label {
    font-family:Helvetica, Arial, sans-serif;
    font-style:normal;
    font-size:2em;
    color:#666666;
    font-weight: 800;
}

.email_input {
    width: 400px;
    margin-left: 10px;
    font-size: 2em;
    padding: 4px;
}

.myButton {
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
    background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
    background-color:#ededed;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    border:1px solid #4c3f85;
    display:inline-block;
    color:#777777;
    font-family:Helvetica, Arial, sans-serif;
    font-size:2em;
    font-weight:bold;
    padding:4px 24px;
    text-decoration:none;
    margin-left: 10px;
    padding-bottom: 0.1em;
}

.myButton:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
    background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
    background-color:#dfdfdf;
}

.myButton:active {
    position:relative;
    top:1px;
}

#footer {
    margin-top: 50px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 0.75em;
    color: #666666;
    text-align:center;
}

#social {
    margin-top: 50px;
    position: relative;
    left: 50%;
    width: 760px;
    margin-left: -380px;
}

.mini_emphasize {
    font-family:"Georgia", "Times New Roman", Times, serif;
    font-style:italic;
    font-size: 1.5em;
    color:#333333;
    margin-bottom: 10px;
    margin-left: 4px;
}
