<div>
  <div id="userdetails">
    <%= render :partial => "detail", :locals => {:user => @user} %>    
  </div>
  <div id="users">
    <div>
      <div class="image_lead">
        <%= image_tag "plane.png", :alt=>"Plane" %>
      </div>
      <div class="content_type">
        <p><%= @title %></p>
      </div>
    </div>
    <ul id="users">
      <% @users.each do |user|%>
      <li><%= render :partial => "users/user", :locals => {:user => user} %></li>
      <% end %>
    </ul>
  </div>
</div>