
<div class="grid_14">

    <div class="box_top">

        <h2 class="icon list"><%= t("perspective.fav_places", :user =>@user.username)   %></h2>

        <h3 class="right"><a href="#contents">Top</a></h3>
    </div>

    <div class="box_content padding">

        <table class="sorting">
          <thead>
            <tr>
                <th></th><th></th>
            </tr>
          </thead>
          <tbody>
          <% @user.perspectives.descending(:created_at).each do |perspective| %>
            <tr>
                <td><%= perspective.place.name %></td>
                <td><%= perspective.memo %></td>
            </tr>
          <% end %>
        </table>
    </div>
</div>




<div class="grid_10">

    <div class="box_top">

        <h2 class="icon list"><%= @user.username %></h2>

        <h3 class="right"><a href="#contents">Top</a></h3>
    </div>

</div>

