<div>
  <div id="userdetails">
    <%= render :partial => "detail", :locals => {:user => @user} %>    
  </div>
  <div id="perspectives">
    <div>
      <div class="image_lead">
        <%= image_tag "plane.png", :alt=>"Plane" %>
      </div>
      <div class="content_type">
        <p><%=t('user.recent_activity') %></p>
      </div>
    </div>
    <ul id="perspectives_list">
      <% @user.perspectives.order_by([:created_at, :desc]).each do |perspective|%>
          <li>
            <%= render :partial => "perspectives/show", :locals => {:perspective => perspective, :source => :user} %>
           </li>
      <% end %>
    </ul>
  </div>
</div>