$('#follow_action').fadeOut(100);
$('#follow_action').html('<a rel="nofollow" data-remote="true" data-method="post" href="<%= follow_user_path(@user) %>" class="no_highlight"><span class="follow_link">Follow</span></a>');
$('#follow_action').fadeIn(100);
var followers = parseInt($('#follower_count').text());
followers -= 1;
$('#follower_count').text(followers);