<% content_for :head do %>
    <title><%= t('user.unsubscribe') %></title>


    <style type="text/css">
        .title {
            font-size: 14pt;
            font-family: museoSlab;
        }
    </style>
<% end %>

<div style="width:600px;margin:50px auto 0px auto;text-align: center;">
  <div class="title"><%= t('user.unsubscribed', :email => @user.email) %></div>
  <div class="all_places_holder">
    <%= link_to t('user.resubscribe'), resubscribe_users_path(:ck => @user.crypto_key), confirm: 'Are you sure?', :class => "all_places" %>
  </div>
  <div style="margin-top:10px;">
    <%= image_tag asset_path("sad_girl.png"), :width => "300" %>
  </div>
</div>

