<h2><%= t("home.admin_links") %></h2>


<ul>
  <li><%= link_to t("home.applications_list"),  :controller=>"oauth_clients", :view=>"index" %></li>
  <li><%= link_to t("home.users_list"),  users_list_path %></li>



</ul>


