<% user = User.find(notification.actor1) %>
<% if notification.type == "FOLLOW" %>
    <% notification_story = "#{link_to user.username, user} followed you" %>
<% elsif notification.type == "STAR_PERSPECTIVE" %>
    <% notification_story = "#{link_to user.username, user} liked your placemark on #{link_to notification.subject_name, Perspective.find(notification.subject)}" %>
<% elsif notification.type == "COMMENT_PERSPECTIVE" %>
    <% notification_story = "#{link_to user.username, user} commented on your placemark for #{link_to notification.subject_name, Perspective.find(notification.subject)}" %>
<% elsif notification.type == "FACEBOOK_FRIEND" %>
    <% notification_story = "Your Facebook friend #{notification.subject_name} joined Placeling as #{link_to user.username, user}" %>
<% elsif notification.type == "SUGGESTED_PLACE" %>
    <% notification_story = "#{link_to user.username, user} suggested you try #{link_to notification.subject_name, Perspective.find(notification.subject)}" %>
<% end %>

<div class="notification">
  <%= image_tag notification.thumb1, :size => "32x32", :class => "notification_avatar" %>
  <div class="notification_title"><%= raw notification_story %></div>
</div>
