<% content_for :head do %>
    <title><%= t('home.marketing') %></title>
    <meta name="description" content="<%= t('home.description') %>">
    <meta property="og:title" content="Placeling"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://www.placeling.com"/>
    <meta property="og:image" content="<%= asset_path("screenshot.png") %>"/>
<% end %>


<div id="admin_header">
  <div class="header_tagline">
    Thanks &amp; Goodbye
  </div>
</div>


<div class="promise">
  Placeling has shut down
</div>
<div id="main_content" class="main_spacer">
  We out! Grab your shit here: <%= button_to 'Download', escape_pod_path, class:'button' %>
</div>


<div id="homepage_finish">
  <div id="finish_options">
    Thanks Again -<a href="http://www.twitter.com/imackinn">@imackinn</a>, <a href="http://www.twitter.com/lindsayrgwatt">@lindsayrgwatt</a>
  </div>
</div>


