
<div id="admin_header">
  <div class="header_tagline">
    Thanks &amp; Goodbye
  </div>
</div>


<div class="promise">
  Placeling has shut down
</div>
<div id="main_content" class="main_spacer" style="text-align: center">
  <div style="width:400px; margin:0 auto 10px auto">
    It's been a great ride but the time has come for us to move on. Thanks for being part of this and we
    hope to make things you'll love in the future. If you want to grab your data you can download it below.
  </div>
  <%= button_to 'Download Your Data', escape_pod_path, class:'button submit' %>
</div>


<div id="homepage_finish">
  <div id="finish_options">
    Thanks Again -<a href="http://www.twitter.com/imackinn">@imackinn</a> &amp; <a href="http://www.twitter.com/lindsayrgwatt">@lindsayrgwatt</a>
  </div>
</div>


