<% content_for :head do %>
    <title><%= t('home.marketing') %></title>
    <meta name="description" content="<%= t('home.description') %>">
    <meta property="og:title" content="Placeling"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://www.placeling.com"/>
    <meta property="og:image" content="<%= asset_path("screenshot.png") %>"/>
<% end %>


<div id="admin_header">
  <div class="header_tagline">
    Thanks &amp; Goodbye
  </div>
</div>

<div id="homepage_finish">
  <div id="finish_options">
    Thanks Again
  </div>
</div>
<div class="promise">
  Thanks Everyone!
</div>
<div id="main_content" class="main_spacer">
  We out!
</div>



