<div class="row" style="margin: 10px 0 15px 0;">

  <div class="span12">

    <div class="row">
      <div class="span12 offset0" style="background-color: #ffffff;">

        <div class="row">
          <div class="span12">


          </div>
        </div>

        <div class="row">
          <div class="span8">
            <div class="activities">
              <% @activities.each do |activity| %>
                  <% begin %>
                      <%= render :partial => "activity", :locals => {:activity => activity} %>
                  <% rescue
                     end
                  %>
              <% end %>
            </div>
          </div>

          <div class="span4">
            <div class="notifications">
              <% @notifications.each do |notification| %>
                  <%= render :partial => "notification", :locals => {:notification => notification} %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>