<% content_for :javascript_includes do %>
    <%= stylesheet_link_tag 'brown' %>
<% end %>

<h1><%= t 'publisher.new_module' %></h1>

<%= render 'form' %>


<%= link_to t("basic.back"), @publisher %>
