

<style type="text/css">


    @font-face {
   	font-family: Museo;
   	src: url('fonts/Museo.otf');
   }

   @font-face {
   	font-family: MuseoSlab;
   	src: url('fonts/MuseoSlab.otf');
   }

   .placeling_highlight_shadow{
   	-moz-box-shadow: 3px 3px 4px #666;
   	-webkit-box-shadow: 3px 3px 4px #666;
   	box-shadow: 3px 3px 4px #666;
   }

   .placeling_shadow{
   	-moz-box-shadow: 3px 3px 4px #ccc;
   	-webkit-box-shadow: 3px 3px 4px #ccc;
   	box-shadow: 3px 3px 4px #ccc;
   }

   #placeling_footer{
       min-width: 280px;
       max-width: 550px;
   	   max-height:223px;
       display: block;
       margin: 0 0 5px 0;
       background-image:url('../../../vendor/assets/images/BGTile.png');
       background-repeat:repeat-x;
   }

   .action_link{
       text-decoration: none;
       color: #888;
       font-family: Museo, Rockwell, Courier-Bold;
   }

   #placeling_user_link{
       margin: 22px 0 0 10px;
   }

   #placeling_username{
       color: rgb(210,86,79);
       font-weight: bold;
   }


   #placeling_top_footer{
       position: relative;
       width: 100%;
   }

   #placeling_map{
       position: relative;
       margin-top: 3px;
       top: 3px;
       left: 0;
   }

   #placeling_map_image {
       max-width: 100%;
       width: 100%;
       height: 150px;
   }

   #placeling_logo{
       height: 50px;
       position: absolute;
       top: 0;
       left: 0;
       width:100px;
       z-index: 10;
       margin-left: 5px;
   }

   #placeling_map_footer{
       width: 100%;
       position: relative;
       z-index: 1;
   	text-align: center;
   }

   #placeling_place_title{
   	margin: 16px 0 0 0;
       width:100%;
       white-space: nowrap;
   	overflow: hidden;
   	text-overflow: ellipsis;
   }

   #placeling_contact_info{
   	font-family: Museo, Rockwell, Courier-Bold;
       line-height: 10px;
       font-size: 12px;
       margin: 3px auto;
   }

   #placeling_contact_info a{
   	text-decoration: none;
   	color: rgb(210,86,79);
   }

   #placeling_place_name{
   	font-size: 16px;
   	color: #888;
   	font-family: MuseoSlab, Rockwell, "Arial Black";
   }

   #placeling_place_title a{
   	text-decoration: none;
   }

   #placeling_bottom_footer{
       height: 72px;
       position: relative;
       display:block;
       padding-right: 10px;
   }

   #placeling_left_footer{
       height: 100%;
       display: inline;
       float: left;
   }

   #placeling_right_footer{
       min-width: 200px;
       max-width: 50%;
       height: 100%;
       float: right;
   	text-align: right;
   }

   #placeling_top_footer{
       width: 100%;
       height: 153px;
   }

   #placeling_map_container{
       text-align: center;
   }

</style>


<script text="text/javascript">

var placeling_t;

 function getPlacelingParameterByName(url, name){
   name = name.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");
   var regexS = "[\\?&]" + name + "=([^&#]*)";
   var regex = new RegExp(regexS);
   var results = regex.exec( url );
   if(results == null)
     return "";
   else
     return decodeURIComponent(results[1].replace(/\+/g, " "));
 }

 function resizePlacelingMap(){
     map_url = jQuery("#placeling_map_image").attr("src");
     size_param = getPlacelingParameterByName( map_url, "size");
     newwidth = jQuery("#placeling_top_footer").width();
     if (newwidth + "x150" != size_param){
         map_url = map_url.replace( "size="+ size_param, "size=" + newwidth + "x150" )
         jQuery("#placeling_map_image").attr("src", map_url);
     }
 }

 function resizePlacelingFooter(){
     if ( jQuery("#placeling_footer").width() < 400 ){
         jQuery("#placeling_left_footer").hide();
         jQuery("#placeling_user_link_secondary").show();
         jQuery("#placeling_place_title").css("margin", "2px 0 0 0");
         jQuery("#placeling_right_footer").css("max-width", "100%");

     } else {
         jQuery("#placeling_left_footer").show();
         jQuery("#placeling_user_link_secondary").hide();
         jQuery("#placeling_place_title").css("margin", "16px 0 0 0");
         totalspace =  jQuery("#placeling_footer").width() - jQuery("#placeling_left_footer").width() - 20;
         jQuery("#placeling_right_footer").css("max-width", totalspace + "px");
     }
 }

     jQuery(document).ready(function(){

     jQuery("#placeling_footer").mouseenter(function() {
         jQuery(this).addClass("placeling_highlight_shadow");
         jQuery(this).removeClass("placeling_shadow");
     }).mouseleave(function() {
         jQuery(this).removeClass("placeling_highlight_shadow");
         jQuery(this).addClass("placeling_shadow");
     });

     jQuery(window).resize( function(){
         clearTimeout( placeling_t );
         resizePlacelingFooter();
         placeling_t = setTimeout("resizePlacelingMap()",500);
     })

     resizePlacelingFooter();
     resizePlacelingMap()

 });




</script>


<div id="placeling_footer" class="placeling_shadow">
    <div id="placeling_top_footer">
        <div id="placeling_map">
            <a class="action_link" href="http://www.placeling.com/users/imack?pid=4f3d71ce57b4e323060000b3&amp;src=pinta12" target="_blank"><img id="placeling_map_image" src="https://maps.google.com/maps/api/staticmap?center=37.798662,-122.407007&amp;zoom=14&amp;size=550x150&amp;&amp;markers=icon:http://www.placeling.com/images/marker.png%%7Ccolor:red%%7C37.798662,-122.407007&amp;sensor=false"></a>
        </div>
        <div id="placeling_logo">
            <a id="placeling_link" target="_blank" href="http://www.placeling.com"><img id="placeling_add_image" src="http://192.168.33.1/~imack/wp-content/plugins/Pinta/img/logoBanner.png"></a>
        </div>
    </div>
    <div id="placeling_bottom_footer">
        <div id="placeling_left_footer" style="">
            <div id="placeling_user_link">
                <a class="action_link" href="http://www.placeling.com/users/imack?pid=4f3d71ce57b4e323060000b3&amp;src=pinta12" target="_blank">See <span id="placeling_username">imack's</span> places</a>
            </div>
        </div>
        <div id="placeling_right_footer" style="max-width: 385px; ">
            <div id="placeling_place_title" style="margin: 16px 0px 0px; ">
                <a href="http://www.placeling.com/places/4ec2d2606dd9561567000006" target="_blank"><span id="placeling_place_name">King of Thai Noodle &amp; Bar</span></a>
            </div>
            <div id="placeling_contact_info">
                <a href="http://maps.google.com/maps/place?cid=15656263709438445811" target="_blank">hours, directions, and contact info</a>
            </div>
            <div id="placeling_user_link_secondary" style="font-size: 14px; display: none; margin-top: 4px; ">
                <a class="action_link" href="http://www.placeling.com/users/imack?pid=4f3d71ce57b4e323060000b3&amp;src=pinta12" target="_blank">See <span id="placeling_username">imack's</span> places</a>
            </div>
        </div>
    </div>
</div>