<div id="place_info">
  <h1><%= @place.name %></h1>
  <% if @place.street_address %>
    <h2><%= @place.street_address %></h2>
  <% end %>
</div>

<div id="new_perspective_form">
  <%= render 'form' %>
</div>