$('.unplacemarked').fadeOut(100);
$("#placemark").fadeOut(100);
var count = parseInt($('#placemark_count').text());
count += 1;
$('#placemark_count').text(count);
if (count == 2) {
  $('#placemark_text').text("placemarks");
}

$("#place_details").after('<div id="my_perspective" class="perspective_group"><%= escape_javascript(render :partial => "perspectives/show", :locals => {:perspective => @perspective, :source => "place_page_empty"}) %></div>').fadeIn(200);