<div class="title">
  <%= t 'aggregation.meet_guide' %>
</div>


<div class="row-fluid">
  <% @users.each_with_index do |user, i| %>
      <div class="span4">
        <%= render :partial => "user", :locals => {:user => user} %>
      </div>
      <% if i %3 == 2 %>
          </div>
          <div class="row-fluid">
      <% end %>

  <% end %>

  <div class="title">
    <%= t 'aggregation.take_tour' %>
  </div>