
#answer_list{
    width:100%;
}

.styled_question_pic{
    height: 30px;
    width: 30px;
    border: 4px solid white;
    background: #faf9f7;
    box-shadow: 0 0 8px 0 #888;
}

#question_member{
    height: 100px;
    float:left;
    width: 500px;
}

.question_field_box{
    font-family: Verdna;
    font-size: 18px;
    width: 300px;
}

#question_share{
    float:left;
    margin: 50px 0 0 150px;

}

#question_header{
    background-image: url(/assets/top_texture.png);
    box-shadow: 0 0 5px #888;
    padding: 0px;
    min-height: 50px;
    width: 100%;
}

.question_clear{
    clear: both;
}

#question_main{
    width: 900px;
    margin: 30px auto;

}

.question_placemark_img{
    width:100px;
}

#question_left_column{
    float: left;
    width: 500px;
}

#question_right_column{
    float: left;
    padding: 20px 0 0 40px;
}

.question_map{
    border: 9px solid white;
    background: #faf9f7;
    box-shadow: 0 0 8px 0 #888;
}

.question_poster_username{
    margin-left: 93px;
    padding-top: 10px;
}

#answer_publisher{
    height: 60px;

}

#answer_place{
    font-family: Verdna;
    font-size: 16px;
    width: 450px;
}

.place_answer {
    display:block;
    width:100%;
    height:80px;
}


.left_place_column{
    float:left;
}


.center_place_column{
    float:left;
}

.right_place_column{
    float:right;
}


.address_text{
    font-family: Verdana;
    font-size: 12px;
}