<div class="grid_14">

    <div class="box_top">

        <h2 class="icon list"><%= t "place.nearby_places" %></h2>

        <h3 class="right"><a href="#contents"><%= t('basic.top') %></a></h3>
    </div>

    <div class="box_content padding">

    <table class="sorting">
        <% @places.each do |place|%>
            <tr>
              <td><%= place.name %></td>
            </tr>
        <% end %>
    </table>

    </div>
</div>

