<div id="new_place_form">
  <%= render 'form' %>
</div>

<% content_for :javascript do %>
  <script src="/javascripts/jquery-ui-1.8.13.custom.min.js" type="text/javascript"></script>
  <script type='text/javascript'>
    $(function() {
      $( "#accordion" ).accordion({ collapsible: true, autoHeight: false, active:false });
    });
  </script>
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
  <script type="text/javascript">
    var crosshairShape = {coords:[0,0,0,0],type:'rect'};
    var default_lat = $("#lat").val();
    if (isNaN(default_lat)) {
      default_lat = <%= current_user.location[0] %>;
    }
    var default_lng = $("#lng").val();
    if (isNaN(default_lng)) {
      default_lng = <%= current_user.location[1] %>;
    }
    var latlng = new google.maps.LatLng(default_lat, default_lng);
    var myOptions = {
      zoom: 12,
      center: latlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP,
      draggableCursor:'crosshair',
      mapTypeControlOptions:{style:google.maps.MapTypeControlStyle.DROPDOWN_MENU}
    };
    var map = new google.maps.Map(document.getElementById("map"), myOptions);
    var marker = new google.maps.Marker({
      map: map,
      icon: 'http://www.daftlogic.com/images/cross-hairs.gif',
      shape: crosshairShape
    });
    marker.bindTo('position', map, 'center');
    
    // Update submit event
    $('#new_place_form').submit( function(e) {
      var lat = map.getCenter().lat(); 
      var lng = map.getCenter().lng();
      
      $('#lat').val(lat);
      $('#lng').val(lng);
    });
    
    function updateMap(latLngObject) {
      map.setCenter(latLngObject);
      map.setZoom(18);
    }
    
    function updateMapFactory(latLngObject) {
      return function(event) {
        event.preventDefault();
        updateMap(latLngObject);
      }
    }
    
    function geocode(address) {
      var geocoder = new google.maps.Geocoder();
      geocoder.geocode( {'address' : address}, function(results, status) {
        if (status == google.maps.GeocoderStatus.OK) {
          if (results.length > 1) {
            $('#ambiguous').html("<p>Multiple results. Pick the one you want:</p>")
            for (var i=0; i< results.length; i++)
            {
                $('#ambiguous').append("<p><a href=\"/\" id=\""+i+"\">"+results[i].formatted_address+"</a></p>")
                $('#'+i).click(updateMapFactory(results[i].geometry.location));

            }
          } else {
            $('#ambiguous').html("");
            map.setCenter(results[0].geometry.location);
            map.setZoom(18);
          }
          
        } else {
          alert("Geocode was not successful for the following reason: " + status);
        }
      });
    }
    
    // Update map
    $('#map_updated').click( function(e) {
      e.preventDefault();
      var input = $('#map_source').val();
      if (input.length != 0) {
        var components = input.split(",");
        
        if (components.length == 2) {
         var lat = parseFloat(components[0]);
         var lng = parseFloat(components[1]);
         
         if (!isNaN(lat) && !isNaN(lng)) {
           var new_place = new google.maps.LatLng(lat, lng);
           map.setCenter(new_place);
           map.setZoom(18);
         } else {
           geocode(input);
         }
        } else {
          geocode(input);
        }
      }
      return false;
    });
  </script>
<% end %>