<div id="footerbottom">
  <p>&copy; <%= t('home.copyright')  %><%= link_to(t('home.about_us'), about_us_path, :class => "horizontal_spacer") %> <a href="http://blog.placeling.com" class="horizontal_spacer"><%= t('home.blog') %></a></p>
</div>
