
<div id="header">

    <!-- Logo: Start -->
    <a href="/" id="logo" class="replace"><span></span></a>
    <!-- Logo: End -->

    <!-- Navigation: Start -->
    <div id="placemainmenu">
        <ul id="mainmenu">

            <% if admin_user? %>
              <li><a href="#"><%= t("home.admin_links") %></a>
                <ul>
                    <%= render(:partial =>"home/admin_links") %>
                </ul>
              </li>
            <% end %>

            <% if current_user %>
                <li><%= link_to t("user.log_out"), destroy_user_session_path, :method=>:delete, :class=>"users" %></li>
            <% else %>
                <li><%= link_to t("user.sign_in"), new_user_session_path, :class=>"users" %></li>
            <% end %>
        </ul>
    </div>
    <!-- Navigation: End -->
</div>
