
<!-- CSS for Theme Styles - Double to prevent flickering on change -->
<link href="/stylesheets/style.css" rel="stylesheet" media="screen" type="text/css" />
<link href="/stylesheets/jquery/smoothness/jquery-ui-1.8.13.custom.css" rel="stylesheet" type="text/css">

<!-- jQuery thats loaded before document ready to prevent flickering - Rest are found at the bottom -->
<script type="text/javascript" src="/javascripts/jquery-1.4.1.min.js"></script>

<script type="text/javascript" src="/javascripts/jquery.jeditable.js"></script>

<script type="text/javascript" src="/javascripts/twitter.js"></script>


<script type="text/javascript">
  getTwitters('texttwitter', {
	  id: 'placeling',
	  count: 3,
	  enableLinks: true,
	  ignoreReplies: true,
	  clearContents: true
	});
</script>


<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=280758755284342";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>